<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MovieoGraph</title>

	<link rel="icon" type="image/png" href="images/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="images/favicon/favicon-32x32.png" sizes="32x32">


	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Google fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500%7COswald:300,400" rel="stylesheet">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="stylesheets/style.css">

	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<!-- Bootstrap JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>

	<script src="javascripts/angular.module.js"></script>
    <script src="javascripts/angularApp.js"></script>
    <script src="javascripts/users.factory.js"></script>
    <script src="javascripts/posts.factory.js"></script>
    <script src="javascripts/movies.factory.js"></script>
    <script src="javascripts/auth.factory.js"></script>
    <script src="javascripts/main.controller.js"></script>
    <script src="javascripts/posts.controller.js"></script>
    <script src="javascripts/movies.controller.js"></script>
    <script src="javascripts/discover.controller.js"></script>
    <script src="javascripts/auth.controller.js"></script>
    <script src="javascripts/nav.controller.js"></script>
    <script src="javascripts/directives/movie.directive.js"></script>

	<style>
		.glyphicon-thumbs-up {
			cursor: pointer
		}
	</style>
</head>

<body ng-app="movieograph">
	<nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavController as vm">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/#/home">MovieoGraph</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li><a href="/#/home">Home</a></li>
	        <li><a href="/#/discover/1">Discover</a></li>
	      </ul>
	      <div class="navbar-form navbar-left">
	        <div class="form-group">
	          <input type="text" class="form-control" placeholder="Search" ng-model="vm.query" ng-keyup="$event.keyCode == 13 ? vm.search() : null">
	        </div>
	        <a class="btn btn-default" href="#" ng-click="vm.search()">Submit</a>
	      </div>
	      <ul class="nav navbar-nav navbar-right">
	        <!-- <li><a href="#">Link</a></li> -->
			<li ng-show="vm.isLoggedIn()"><a>{{ vm.currentUser() }}</a></li>
			<li ng-show="vm.isLoggedIn()"><a href="" ng-click="vm.logOut()">Log Out</a></li>
			<li ng-hide="vm.isLoggedIn()"><a href="/#/login">Log In</a></li>
			<li ng-hide="vm.isLoggedIn()"><a href="/#/register">Register</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

	<div class="container main">
			<ui-view>
				<!-- Templates will be injected here -->
			</ui-view>
	</div>

	<!-- home template -->
	<script type="text/ng-template" id="/home.html">
		<div class="row home row-eq-height">
			<!-- <div class="col-md-10 col-md-offset-1"> -->
			<div class="col-md-12">

				<!-- Most popular -->

		        <div class="page-header">
		             <h1><span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Most popular</h1>
		        </div>

				<div class="row">
					<div class="col-md-4" ng-repeat="movie in vm.movies | limitTo: 6">
						<movie-card></movie-card>
					</div>
				</div>

				<!-- Your watchlist -->

				<div class="page-header">
		             <h1><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Your watchlist</h1>
		        </div>

				<div class="row">
					<div class="col-md-4" ng-repeat="movie in vm.watchList">
						<movie-card></movie-card>
					</div>
				</div>

		        <!-- <form ng-submit="vm.addPost()" ng-show="vm.isLoggedIn()" style="margin-top:30px;">
		            <h3>Add a new post</h3>

		            <div class="form-group">
		                <input type="test" class="form-control" placeholder="Title" ng-model="vm.title"></input>
		            </div>
		            <div class="form-group">
		                <input type="text" class="form-control" placeholder="Link" ng-model="vm.link"></input>
		            </div>
		            <br>
		            <button type="submit" class="btn btn-primary">Post</button>
		        </form> -->

				<div ng-hide="vm.isLoggedIn()">
					<h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> to start keeping track of your movies.</h3>
				</div>
			</div>
		</div>
    </script>

	<!-- movie template -->
	<script type="text/ng-template" id="/movie.html">

		<div class="row movie-detail">
			<!-- <div class="col-md-10 col-md-offset-1"> -->
			<div class="col-md-12">

				<div class="movie-backdrop-wrapper">
					<div class="movie-backdrop">
						<!-- <img src="https://image.tmdb.org/t/p/w1280{{vm.movie.backdrop_path}}" style="position: absolute; clip: rect(0px,200px,200px,0px);"> -->
						<img src="https://image.tmdb.org/t/p/w1280{{vm.movie.backdrop_path}}">
					</div>
					<div class="movie-backdrop-content">
						 <h1><span class="glyphicon glyphicon-film" aria-hidden="true"></span> {{vm.movie.title}} ({{vm.movie.release_date | date:'yyyy'}})</h1>
					</div>
				</div>

				<div class="row movie-details">
					<div class="col-md-8">
						<!-- <div class="card-stars">
							<span class="glyphicon glyphicon-star" aria-hidden="true"></span> {{vm.movie.vote_average}}
						</div> -->
						<p>
							<i> Genre: </i>
							<span ng-repeat="genre in vm.movie.genres">{{genre.name}}{{$last ? '' : ' - '}}</span>
						</p>
						<div class="row">
							<div class="col-md-4" ng-repeat="crew in vm.movie.credits.crew | limitTo:3">
								<h4>{{crew.job}}</h4>
								<p>{{crew.name}}</p>
							</div>
						</div>
						<h3>Overview</h3>
						<p>
							{{vm.movie.overview}}
						</p>
						<h3>Top billed cast</h3>
						<div class="row">
							<div class="col-md-3 text-center" ng-repeat="cast in vm.movie.credits.cast | limitTo:4">
								<div>
									<strong>{{cast.name}}</strong>
								</div>
								<div>
									as <br>
									{{cast.character}}
								</div>
							</div>

						</div>
						<h3>Quick facts</h3>
						<table class="table table-hover">
							<tr class="first-tr">
								<th>Title</th>
								<td>{{vm.movie.title}}</td>
							</tr>
							<tr>
								<th>Tagline</th>
								<td>{{vm.movie.tagline}}</td>
							</tr>
							<tr>
								<th>Released on</th>
								<td>{{vm.movie.release_date | date:'dd-MM-yyyy'}}</td>
							</tr>
							<tr>
								<th>Original language</th>
								<td>{{vm.movie.original_language}}</td>
							</tr>
							<tr>
								<th>Budget</th>
								<td ng-show="vm.movie.budget">{{vm.movie.budget | currency: dollar: 0}}</td>
							</tr>
							<tr>
								<th>Revenue</th>
								<td>{{vm.movie.revenue | currency: dollar: 0}}</td>
							</tr>
						</table>
					</div>
					<div class="col-md-4">
						<div class="row">
							<div class="col-md-12">
								<span class="votes"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> {{vm.movie.vote_average}}</span>
								<a ng-hide="vm.alreadyStarred" href="" ng-click="vm.addToWatchList()">Add this movie to your watchlist</a>
								<a ng-show="vm.alreadyStarred" href="" ng-click="vm.removeFromWatchList()">Delete this movie from your watchlist</a>
							</div>
							<div class="col-md-12 buttons">
								<a href="http://www.imdb.com/title/{{vm.movie.imdb_id}}" target="_blank" class="btn btn-default">View on imdb</a>
								<a href="{{vm.movie.homepage}}" target="_blank" class="btn btn-default">Visit official website</a>
							</div>
						</div>
						<div class="watchedOn">
							<div class="row" ng-repeat="watched in vm.watched">
								<div class="col-xs-2">
									<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
								</div>
								<div class="col-xs-10">
									<div class="">You watched this movie on</div>
									<div class="data">{{watched.watchedOn | date:'dd MMMM yyyy' }}</div>
								</div>
								<div class="col-xs-2">
									<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
								</div>
								<div class="col-xs-10">
									<div>and you rated it </div>
									<div class="data">{{watched.rating}}</div>
								</div>
								<div class="col-xs-2">
									<span class="glyphicon glyphicon-book" aria-hidden="true"></span>
								</div>
								<div class="col-xs-10 latest">
									<div>You left this note:</div>
									<div class="data">{{watched.note}}</div>
								</div>
							</div>
						</div>
						<h4>Add entry</h4>
						<form ng-submit="vm.addToWatched()">
							<div class="form-group">
								<label for="date">Date</label>
								<input type="date" class="form-control" id="date" ng-model="vm.watchedOn"  placeholder="Date" required>
							</div>
							<div class="form-group">
								<label for="rating">Rating (0 - 10)</label>
								<input type="number" class="form-control" id="rating" ng-model="vm.rating" placeholder="Rating" step="0.5" max="10" min="0" required>
							</div>
							<div class="form-group">
								<label for="note">Note</label>
								<textarea class="form-control" id="note" ng-model="vm.note" placeholder="Note"></textarea>
							</div>
							<button type="submit" class="btn btn-default">Submit</button>
						</form>
					</div>
				</div>

			</div>
		</div>

        <!-- <div ng-repeat="comment in vm.post.comments | orderBy:'-upvotes'">
            <span class="glyphicon glyphicon-thumbs-up" ng-click="vm.incrementUpvotes(comment)"></span>
            {{comment.upvotes}} - by {{comment.author}}
            <span style="font-size:20px; margin-left:10px;">
            {{comment.body}}
            </span>
        </div>

         <form ng-submit="vm.addComment()" ng-show="vm.isLoggedIn()" style="margin-top:30px;">
            <h3>Add a new comment</h3>

            <div class="form-group">
                <input type="text" class="form-control" placeholder="Comment" ng-model="vm.body"></input>
            </div>
            <button type="submit" class="btn btn-primary">Post</button>
        </form> -->

		<div ng-hide="vm.isLoggedIn()">
		  	<h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> to start tracking your movies.</h3>
		</div>

    </script>


	<!-- discover template -->
	<script type="text/ng-template" id="/discover.html">
		<div class="row home">
			<!-- <div class="col-md-10 col-md-offset-1"> -->
			<div class="col-md-12">

				<!-- Most popular -->

		        <div class="page-header">
		             <h1>
						 <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
						Most popular
						<small>
							<a href="/#/discover/{{vm.page - 1}}" ng-show="vm.page > 1"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>
							<span class="glyphicon glyphicon-menu-left disabled" aria-hidden="true" ng-hide="vm.page > 1"></span>
							Page {{vm.page}}
							<a href="/#/discover/{{vm.page + 1}}"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
						</small>
					 </h1>
		        </div>

				<div class="row">
					<div class="col-md-4" ng-repeat="movie in vm.movies">
						<movie-card></movie-card>
					</div>
				</div>
			</div>
		</div>

    </script>


	<!-- search template -->
	<script type="text/ng-template" id="/search.html">
		<div class="row home">
			<!-- <div class="col-md-10 col-md-offset-1"> -->
			<div class="col-md-12">

				<!-- Most popular -->

				<div class="page-header">
					 <h1>
						 <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
						Most popular

					 </h1>
				</div>

				<div class="row">
					<div class="col-md-4" ng-repeat="movie in vm.movies">
						<movie-card></movie-card>
					</div>
				</div>
			</div>
		</div>

	</script>

	<!-- post template -->
	<script type="text/ng-template" id="/posts.html">
        <div class="page-header">
            <h3>
            <a ng-show="post.link" href="{{post.link}}">
                {{post.title}}
            </a>
            <span ng-hide="post.link">
                {{post.title}}
            </span>
            </h3>
        </div>

        <div ng-repeat="comment in vm.post.comments | orderBy:'-upvotes'">
            <span class="glyphicon glyphicon-thumbs-up" ng-click="vm.incrementUpvotes(comment)"></span>
            {{comment.upvotes}} - by {{comment.author}}
            <span style="font-size:20px; margin-left:10px;">
            {{comment.body}}
            </span>
        </div>
        <form ng-submit="vm.addComment()" ng-show="vm.isLoggedIn()" style="margin-top:30px;">
            <h3>Add a new comment</h3>

            <div class="form-group">
                <input type="text" class="form-control" placeholder="Comment" ng-model="vm.body"></input>
            </div>
            <button type="submit" class="btn btn-primary">Post</button>
        </form>

		<div ng-hide="vm.isLoggedIn()">
		  	<h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can comment.</h3>
		</div>

    </script>

	<script type="text/ng-template" id="/register.html">
		<div class="page-header">
			<h1>Flapper News</h1>
		</div>

		<div ng-show="vm.error" class="alert alert-danger row">
			<span>{{ vm.error.message }}</span>
		</div>

		<form ng-submit="vm.register()" style="margin-top:30px;">
			<h3>Register</h3>

			<div class="form-group">
				<input type="text" class="form-control" placeholder="Username" ng-model="vm.user.username"></input>
			</div>
			<div class="form-group">
				<input type="password" class="form-control" placeholder="Password" ng-model="vm.user.password"></input>
			</div>
			<button type="submit" class="btn btn-primary">Register</button>
		</form>
	</script>

	<script type="text/ng-template" id="/login.html">
		<div class="page-header">
			<h1>Flapper News</h1>
		</div>

		<div ng-show="error" class="alert alert-danger row">
			<span>{{ error.message }}</span>
		</div>

		<form ng-submit="vm.logIn()" style="margin-top:30px;">
			<h3>Log In</h3>

			<div class="form-group">
				<input type="text" class="form-control" placeholder="Username" ng-model="vm.user.username"></input>
			</div>
			<div class="form-group">
				<input type="password" class="form-control" placeholder="Password" ng-model="vm.user.password"></input>
			</div>
			<button type="submit" class="btn btn-primary">Log In</button>
		</form>
	</script>

</body>

</html>
